include MANIFEST.in
include README.md
include setup.py
include requirements-tests.txt
include requirements.txt

recursive-include pp_common *.py
recursive-exclude * __pycache__
recursive-exclude * *.py[co]
